body{
    background-color: black;
}

.header{
  margin-left: 40px;
}


.head{
    height: 600px;
    width: 300px;
    border: 1px solid rgb(0, 4, 8);
    border-radius: 20px ;
    background-color: white;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;

}

.opn{
    left: 140px;
    top: 250px;
    position: fixed;
    display: flex;
    color: black;

}

/* bottom navigation bar */

.nav{
    display: flex;
    margin-top: 557px;
}

/*
.parts{
    flex-grow: 1;
   
   }
   
   */

.nav-bdr{
    border-radius: 0 0 20px 20px;
    background-color: rgb(0, 4, 8);
}



/* top cam area */


.top{
    display: flex;
   margin-top: -599px;
}

.cam{

margin-left: 140px;
color: lightgrey;

}

.top-cam{
    
    border-radius: 20px 20px 0 0;
    background-color: rgb(0, 4, 8);
}

/* top cam area */

.time{
    color: black;
    position: fixed;
    top: 180px;
    left: 150px;
    
}

.vol{
  color: white;
  position: fixed;
  left: 300px;
  top: 100px;
}

.speakr{
  position: fixed;
  top: -18px;
  margin-left: 107px;
  color: grey;
}


.botn{
  height: 35px;
  width: 35px;
  border: 2px white solid;
  border-radius: 50%;
  margin-left: 125px;
  margin-top: 2px;
  margin-bottom: 2px;
}